* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 30px;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(10px);
}

.nav-menu {
    display: flex;
    gap: 70px;
    align-items: center;
    z-index: 1000;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;

}

.nav-menu a:hover {
    color: green;
}

.header button {
    font-size: 18px;
    padding: 10px 50px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background: green;
    color: white;
}

.header img {
    width: 210px;
}


.hero {
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.144)), url("./src/Flip\ image.webp");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 10px 300px;
}


.hero-content {
    max-width: 530px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-content h4 {
    font-size: 40px;
    text-transform: uppercase;
}


.hero-content h1 {
    font-size: 90px;
    text-transform: uppercase;
    word-spacing: 5px;
}

.hero-content p {
    font-size: 20px;
    word-spacing: 5px;
    line-height: 1.9;
    text-align: justify;
    margin-bottom: 20px;
}


.hero-content button {
    font-size: 18px;
    padding: 10px 50px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background: green;
    color: white;
}

.menu-toggle {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.menu-toggle-container {
    display: none;
}


.imfo div {
    height: 100vh;
    background: red;
}

.cir{
    background: rgba(0, 128, 0, 0.11);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    animation: float 6s ease-in-out infinite;
}

.circle2{
    height: 150px;
    width: 150px;
    position: absolute;
    top:110px;
    right:280px;
}


.circle3{
    height: 120px;
    width: 120px;
    position: absolute;
    bottom:40px;
    right:100px;
}

.circle4{
    height: 120px;
    width: 120px;
    position: absolute;
    top:150px;
    left:100px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@media (max-width: 1100px) {

    /* Navigation */

    .header {
        display: grid;
        padding: 0px 0px;
        height: auto;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-items: center;
    }

    .header>a,
    .menu-toggle-container {
        padding: 10px 20px;
    }

    .header img {
        width: clamp(170px, 19vw, 210px);
    }

    .nav-menu {
        display: none;
        order: 2;
        background: linear-gradient(-20deg,rgb(1, 148, 1),rgb(1, 26, 1));
        padding: 20px;
        height: 80vh;
        gap: 40px;
        padding-top: 50px;
    
    }

    .nav-menu a{
           font-size: clamp(15px, 1.7vw, 18px);
           border-bottom: 2px solid rgba(187, 187, 187, 0.377);
           padding-bottom: 20px;
           width: 100%;
           text-align: center;
    }

    .navbutton {
        display: none;
        font-size: clamp(15px, 1.7vw, 18px);
        order: 2;
    }

    .menu-toggle {
        order: 1;
        font-size: clamp(18px, 2.1vw, 26px);
    }

    .menu-toggle-container {
        display: block;
    }


    /* hero page */

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        text-align: center;
    }


    .hero-content {
        max-width: 80%;

    }

    .hero-content h4 {
        font-size: clamp(30px, 3.5vw, 40px);
    }


    .hero-content h1 {
        font-size: clamp(40px, 6vw, 90px);
    }

    .hero-content p {
        font-size: clamp(15px, 1.7vw, 20px);
        text-align: center;
    }

    .hero-content button {
        font-size: clamp(15px, 1.7vw, 18px);
        padding: clamp(6px, 0.7vw, 10px) clamp(25px, 3.5vw, 50px);
    }

}


@media (max-width:425px) {

    .hero-content h4 {
        font-size: clamp(20px, 2.5vw, 30px);
    }


    .hero-content h1 {
        font-size: clamp(25px, 3vw, 40px);
    }

    .hero-content p {
        font-size: clamp(13px, 1.4vw, 15px);
        text-align: center;
    }

    .hero-content button {
        font-size: clamp(13px, 1.4vw, 15px);
    }

}

/* @media (max-width:750px) {
    .hero-content h4{
    font-size: clamp(30px, 3.5vw, 40px);
}


.hero-content h1{
    font-size:  clamp(40px, 6vw, 90px);
}

.hero-content p{
    font-size:  clamp(15px, 1.7vw, 20px);
}
} */



/* -marquee-section */ 

.marquee-section{
    width:100%;
    padding:40px;
    background:#f8fafc;
    overflow:hidden;
    border-top:1px solid #e5e7eb;
    border-bottom:1px solid #e5e7eb;
    
}


.marquee-header{
    text-align:center;
    margin-bottom:35px;
}

.marquee-header p{
    font-size:clamp(12px,1.3vw,14px);
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    color:#334155;
}


.marquee-container{
    width:100%;
    overflow:hidden;
    position:relative;
}


.marquee-track{
    display:flex;
    align-items:center;
    gap:80px;
    width:max-content;
    animation:scrollLeft 25s linear infinite;
}


.marquee-item{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:700;
    color:#9ca3af;
    white-space:nowrap;
    transition:0.3s;
    cursor:pointer;
    overflow-y: hidden;
    font-size: clamp(19px,2.4vw,28px);
}


.marquee-item .material-icons{
    font-size: clamp(19px,2.4vw,40px);
}
.marquee-container:hover .marquee-track{
    animation-play-state: paused;
}


.marquee-item:hover span{
    color:green;
    transform:scale(1.05);
    
}
.marquee-item:hover{
    color: black;
    transform:scale(1.05);
}


@keyframes scrollLeft{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}


/* about-us section  */



#about-us{
    display: flex;
    width: 100%;
    margin: 20px auto;
    gap: clamp(30px,4.6vw,60px);    
    justify-content: center;
    margin-top:  50px;

}

.about-haeder{
    display: flex;
    align-items: center;
    font-size: 14px;
      color: green;
    font-weight: bold;
    gap: 10px;
    width: max-content;
    padding: 7px 20px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    border-radius: 40px;
    background: #ECF2FD;
}


.about-haeder span{
    font-size: 10px;

}




.part1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40%;    
}

.part1 h1{
    line-height: 1.8;
    color: green;
    text-transform: uppercase;
    font-size: clamp(25px, 3vw, 45px);
}

.part1 p{
    line-height: 1.5;
      font-size: clamp(15px, 1.7vw, 20px);
}

.part1 button{
    font-size: 18px;
    padding: 10px 50px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background: green;
    color: white;
}

.part1 button:hover{
    background-color: rgba(0, 128, 0, 0.644);
    transform: translatey(-2px);
    box-shadow: 1px 5px 10px #3b83f656;
}

.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part2 img{
    width: 400px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.158);
}

.part2 img:hover{
    transition: 1s;
    transform: translateY(-10px);
}


@media (max-width:850px) {
    
    #about-us{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    text-align: center;
}

.part1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 75%;    
}


.part2 img{
    width: clamp(250px,33vw,400px);
}


.part2 h1{
    max-width: 80% !important;
}

.about-haeder{
    margin: 20px auto;
}
}


 .part1 button{
        font-size: clamp(15px, 1.7vw, 18px);
        padding: clamp(6px, 0.7vw, 10px) clamp(25px, 3.5vw, 50px);
    }
